.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Python virtual environments (for both Windows and macOS)
venv-windows/
venv-macos/

# Python-specific files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python virtual environment files
*.env
*.venv

#Backend json dump files
**/out.json
**/itinerary_response.json
**/open_ai_itinerary.json
backend/open_ai_itinerary.json
backend/itinerary_response.json

*.history